
.floating-translation {
  max-width: 40rem;
  width:300px;
  position: Fixed;
  z-index: 9998;
  top:0px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background: #004181;
  padding: 1.0rem 1.5rem 1.5rem 0;
  -webkit-box-shadow: -0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: -0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: .5rem 0 0 .5rem;
  height: 45px;
  color: #fff;
  flex-direction: row;
  gap:2px;
  justify-content: space-between;
  justify-items: stretch;

}

html.translated-ltr .floating-translation {
  top:40px;
}


@media screen and (max-width: 760px) {
  .floating-translation {
      top:unset !important;
      bottom: 80px !important;
      right: 0;
      left: unset !important;
      border-radius: .5rem 0 0 .5rem !important;
      width: 60px;
  }
  #cdsGoogleTranslateIcon { cursor:pointer}
  .floating-translation:not(.floating-translation-expanded) #cdsGoogleTranslateButton, 
  .floating-translation:not(.floating-translation-expanded) .select-container {
    display: none !important
  }


  .floating-translation-expanded{
    xbackground-color:#424242;
    width:300px !important;
  }
  
}



.floating-translation label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  xpadding-left: 2.5rem;
  xbackground: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' width='640' height='768.25' viewBox='0 0 640 768.25'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArtboard 27%3C/title%3E%3Cpath class='cls-1' d='M543.43,169.22,513.85,0l-41.2,58.66A330.81,330.81,0,0,0,96.57,135.05l73,68.34a231.44,231.44,0,0,1,244-60.63l-39.38,56.07Z'/%3E%3Cpath class='cls-1' d='M304,224.12H24a23.94,23.94,0,0,0-24,24v272a23.94,23.94,0,0,0,24,24H304Zm-86.2,256H194.9a12,12,0,0,1-11.5-8.6l-9.4-31.9H113.8l-9.1,31.8a12.09,12.09,0,0,1-11.5,8.7H70.3a12.08,12.08,0,0,1-11.4-15.9l57.5-169.1a12,12,0,0,1,11.4-8.1h32.5a12.19,12.19,0,0,1,11.4,8.1l57.5,169.1A12,12,0,0,1,217.8,480.12Z'/%3E%3Cpath class='cls-1' d='M616,224.12H336v320H616a23.94,23.94,0,0,0,24-24v-272A23.94,23.94,0,0,0,616,224.12Zm-24,120a12,12,0,0,1-12,12H568.6c-6.9,23.6-21.7,47.4-42.7,69.9A310,310,0,0,0,552,444a12,12,0,0,1,4.1,16.2l-7.9,13.9a12,12,0,0,1-16.7,4.3,347.93,347.93,0,0,1-35.4-24.9,352.66,352.66,0,0,1-35.4,24.9,12,12,0,0,1-16.7-4.3l-7.9-13.9a12,12,0,0,1,4.2-16.2,285.27,285.27,0,0,0,26.1-18,232,232,0,0,1-21-25.7,12,12,0,0,1,3.7-17.1l6.5-3.9,7.3-4.3a12.09,12.09,0,0,1,16,3.4,190.68,190.68,0,0,0,17.4,20.9c13.5-14.2,23.8-28.9,30-43.2H412a12,12,0,0,1-12-12v-16a12,12,0,0,1,12-12h64v-16a12,12,0,0,1,12-12h16a12,12,0,0,1,12,12v16h64a12,12,0,0,1,12,12Z'/%3E%3Cpath class='cls-1' d='M144.3,331.12h-.5s-4.3,21.1-7.8,33.2l-11.1,37.5H163l-10.9-37.5C148.6,352.22,144.3,331.12,144.3,331.12Z'/%3E%3Cpath class='cls-1' d='M96.57,599l29.58,169.22,41.2-58.67A330.79,330.79,0,0,0,543.43,633.2l-73-68.34a231.44,231.44,0,0,1-244,60.63l39.38-56.08Z'/%3E%3C/svg%3E") no-repeat center left 0.5rem/auto 2rem, #004181;
  padding-left:1rem;
  background-size: 3rem;
  height: 30px;
  width: 30px;  

}
.floating-translation label, .floating-translation #languageDropdown, .floating-translation button[type="button"] {
  font-size: 14px
}
.floating-translation #languageDropdown, .floating-translation button[type="button"] {
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s
}
.floating-translation select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  color: #000;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-size: 1em;
  -ms-flex-preferred-size: 10rem;
  flex-basis: 10rem;
  min-width: 10rem;
  padding:2px;
  margin-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

}
.floating-translation select:focus {
  -webkit-box-shadow: 0 0 0 2px #004181, 0 0 0 3px white;
  box-shadow: 0 0 0 2px #004181, 0 0 0 3px white;
  outline: none
}
.floating-translation option {
  color: black
}
.floating-translation .select-container {
  position: relative;
  display: block;
  min-width: 10rem;
  -ms-flex-preferred-size: 10rem;
  flex-basis: 10rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  margin-left:20px;

}
.floating-translation .select-container:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none
}
.floating-translation .select-container:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1em;
  border-top: 8px solid #004181;
  opacity: 1
}
.floating-translation select::-ms-expand {
  display: none
}
.floating-translation button.btn {
  -ms-flex-preferred-size: 3rem;
  height: 25px;
  flex-basis: 3rem;
  margin-left: .25rem;
  margin-right: 0;
  padding: .5rem .25rem !important;
  line-height: 1;
  background: #004181;
  color: white;
  border: none;
  background: white;
  color: #004181;
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  position: relative;
 }
.floating-translation button.btn:focus {
  background: #004181;
  color: white;
  -webkit-box-shadow: 0 0 0 1px white;
  box-shadow: 0 0 0 1px white;
  outline: none;
 }


.language-selector {
  display: none !important;
}
