/* Custom styling */
body {
  font-size: 16px;
}

.floater {
  float: right;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 2px;
}

.imgfloat img {
  width: 100%;
}

figcaption.small-caption {
  font-size: 0.7em;
  color: #555;
  margin-top: 0.5em;
}

