/* Custom styling */
body {
  font-size: 16px;
}

figure.floater {
  float: right;
  width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;
}

figure.floater a {
  display: block;
}

figure.floater img {
  display: block;
  width: 100%;
  height: auto;
}

figure.floater figcaption,
.floater.figure figcaption {
  font-size: 0.8em;
  color: #555;
  margin-top: 0.5em;
  text-align: center;
}


